body {
  margin: 0;
  overflow: hidden;
  font-family: sans-serif;
}

@font-face {
  font-family: 'TitleFont';
  src: url("/fonnts.com-Alkaline_Caps_Heavy (1).otf") format('opentype');
}

/* #menuButton {
  position: fixed;
  top: 20px;
  right: 20px;
  /* background: #e1f1ff; 
  border: none;
  border-radius: 8px;
  padding: 10px 16px;
  cursor: pointer;
  z-index: 10;
  font-weight: bold;
  color: #0a1c2b;
} */

#menuIcon {
  width: 10%;
  position: fixed;
  top: 60px;
  right: 60px;
}

#menuOverlay {
  position: fixed;
  bottom: -100%;
  left: 0;
  width: 100%;
  height: 80%;
  /* background:rgba(86, 184, 249, 0.2);; */
  transition: bottom 0.5s ease-in-out;
  z-index: 9;
  display: flex;
  flex-direction: column;
  
}

#menuOverlay.active {
  bottom: 0;
}

.wave {
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: scaleY(-1) translateY(99px);
  fill: #e1f1ff;
}

.wave svg {
  position: relative;
  display: block;
  width: calc(200% - 1px);
  height: 100px;
  animation: waveMove 1s ease-in-out infinite;
  animation-direction: alternate;
}

@keyframes waveMove {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}

#cityNameTitle {
  position: fixed;
  top: 20px;
  left: 20px;
  font-weight: 100;
  font-family: 'TitleFont', sans-serif;
  color: #0c2340;
  font-size:50px;
}

.menuContent {
  height: 20%;
  display: flex;
  justify-content: center;
  /* flex-direction: column; */
  color: #0c2340;
}

.title {
  font-weight: bold;
  font-family: 'TitleFont', sans-serif;
  color: #0c2340;
  font-size:50px;
}


.container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  padding: 5% 5% 5% 5%;
  align-items: center;
  overflow-y:auto
}
/* .container > div {
  background-color: #0C2340;
  color: #F7ECD8;
  padding: 5%;
  /* font-size: 30px; 
  text-align: center;
  margin: 2%;
  font-size: 10px;
} */
/* 
.link_button {
  height: 40%;
} */


.city_button {
  background-color: #99CCFF;
  color: #0C2340;
  border-radius: 12px;
  padding: 26px 16px 26px 16px;
  margin: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.2s;
  /* box-shadow: 0 4px 10px rgba(0,0,0,0.1); */
}

.city_button:hover {
  transform: scale(1.03);
}

.city_layout {
  display: flex;
  width: 100%;
  align-items: center;
  height: 100px;
}

.city_number {
  flex: 1;
  font-size: 48px;
  font-weight: bold;
  text-align: center;
}

.city_info {
  flex: 4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 10px;
}

.city_name {
  font-size: 40px;
  font-weight: bold;
}

.city_date {
  font-size: 26px;
  opacity: 0.8;
}



/* Landscape phones and tablets */
@media only screen and (min-width: 600px) and (max-width: 991px) {
  #menuIcon {
    width: 7%;
  }

  .city_name {
    font-size: 30px;
    font-weight: bold;
  }
}
/* Portrait phones */
@media only screen and (orientation: portrait) {
  #menuIcon {
    width: 12%;
  }
  .title {
    font-size:100px;
  }

  .link_button {
    height: 100px;
    font-size: 30px !important;
  }

  .container {
    grid-template-columns: auto auto;
  }

  .menuContent {
    height: auto;
  }

  
  #cityNameTitle {
    font-size:4rem;
    left: 10%;
    top: 3%;
    margin: 0;
  }


}

/* Desktops */
@media only screen and (min-width: 992px) {
  #menuIcon {
    width: 5%;
  }
}

/* Desktops */
@media only screen and (min-width: 992px) and (orientation: portrait){
  #menuIcon {
    width: 7%;
  }
}

